body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #11b4bd;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  text-align: center;
  font-size: 1.5rem;
}

#calendar {
  overflow: scroll;
}

#html5-qrcode-button-camera-permission {
  background-color: #11b4bd;
  padding: 1em;
  border: none;
  border-radius: 10px;
}
#html5-qrcode-button-camera-start {
  background-color: #11b4bd;
  padding: 1em;
  border: none;
  border-radius: 10px;
}


#html5-qrcode-anchor-scan-type-change {
  text-decoration: none !important;
}

#scan_qr_code {
  z-index: 1;
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 1em 2em;
  background-color: #11b4bd;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  /*
  display: none;
   */
}

#scan_qr_code:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

#scan_qr_code p {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.hide {
  display: none !important;

}


#scan_code {
  padding: 2em;
  position: fixed !important;
  top: 25%;
  background-color: whitesmoke;
  opacity: 100%;
  z-index: 5000;
  width: 700px;
  height: 500px;
}

#close_scanner {
  cursor: pointer;
}

#add_absence {
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: whitesmoke;
  width: 40%;
  height: 40%;
  z-index: 9;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (max-width: 700px) {
  #scan_qr_code {
    padding: 1em;

    height: 50px;
    width: 50px;
  }

  #scan_code {
    height: 300px;
    width: 300px;
  }
}