*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html, body {
  /* background: #555; */
  height : 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 20px;
}

hr {
  border: 0;
  height: 1px;
  /* opacity: 0.5; */
  background: linear-gradient(to right, transparent, #9fccce, transparent);
}

.container {
  height: 100%;
}

h1 {
  color: #1e1e1e;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #9fccce;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

img {
  height: 50px;
  width: 50px;
}

#actualiser {
  background-color: #9fccce;
  border: none;
  height: 2em;
  width: 10%;
  min-width: 100px;
  margin: 1em;
  border-radius: 0.5rem;
  color: #1e1e1e;
  box-shadow: 0 0 0.2rem 0 #1e1e1e;
}

#actualiser:hover {
  height: 2.3em;
  width: 11%;
  transition: 0.5s;
}

#actualiser:active {
  background-color: #1e1e1e;
  color: #9fccce;
  box-shadow: 0 0 0.5rem #9fccce;
  transition: 0.2s;
}

#boite_event {
   height: 100%;
   width: 100%;
   display: grid; /*  /!\ Pas de display Flex quand ça ne sert à rien /!\   */
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: auto;
   overflow-x: hidden;
   margin-top: 1em;
}


.box_absence {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 300px;
  background: whitesmoke;
  margin-bottom: 30px;
  padding: 15px;
  border: solid 3px;
  border-radius: 15px;
}

button {
  margin-left : 1em;
  border : none;
}
/* Animation de montée */
@keyframes slide-up {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

/* Animation de fondu */
@keyframes fade-out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/* Ajout de la classe pour l'animation de montée */
.slide-up {
  animation: slide-up 0.5s ease;
}

/* Ajout de la classe pour l'animation de fondu */
.fade-out {
  animation: fade-out 0.5s ease;
}