@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #77CCD0;
}

body {
  height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 50px;
  color: #004160;
  font-weight: 600;
  font-size: 50px;
}

input {
  width: 250px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

input::placeholder {
  font-size: 16px;
  color: grey;
}

.button {
  background: #004160;
  font-size: 26px;
  color: white;
  margin-top: 90px;
}

.connexion,
.inscription {
  margin-top: 20px;
  color: #004160;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lien {
  text-decoration: underline;
  padding: 5px;
}
