@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --form-control-color: #004160;
  --form-control-disabled: #959495;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #9fccce;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 50px;
  color: #004160;
  font-weight: 600;
  font-size: 50px;
}

input {
  width: 250px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

input::placeholder {
  font-size: 16px;
  color: grey;
}

.button {
  background: #004160;
  font-size: 26px;
  color: white;
}

.connexion,
.inscription {
  margin-top: 20px;
  color: #004160;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lien {
  text-decoration: underline;
  padding: 5px;
}

/* =================== */
/* === style input === */
/* =================== */

.checkbox_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  display: grid;
  place-content: center;
  height: auto;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 10px 0;
  padding: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.12em solid var(--form-control-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
