<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#77CCD0"/>
    <link rel="manifest" href="javascripts/manifest.json" />
    <link rel="apple-touch-icon" href="/assets/icons/icon-96x96.png" />
    <meta name="apple-mobile-web-app-status-bar" content="white" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="white" />

    <title>Calendar</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://unpkg.com/html5-qrcode"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.5.0/event-calendar.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.5.0/event-calendar.min.css"
    />
    <link rel="stylesheet" href="stylesheets/calendar.css" />
    <link rel="stylesheet" href="stylesheets/index.css" />
  </head>
  <body>
    <header>
      <a href="#0"
      ><img
                  src="assets/icons/settings_FILL0_wght400_GRAD0_opsz24.svg"
                  alt="settings"
          /></a>
      <a href="/logout"
      ><img
            src="assets/icons/logout_24dp_FILL0_wght400_GRAD0_opsz24.svg"
            alt="logout"
        /></a>
  </header>
  <hr>
    <h3 id="nom_prof">Bonjour M. <%= nom %></h3>
    
    <main>
      <div id="scan_code" class="hide">
        <span id="closeScanner">X</span>
        <div id="reader">
          <span id="close_scanner">x</span>
        </div>
      </div>

      <div id="result"></div>
    </main>

    <div id="calendar"></div>
    <button id="scan_qr_code"><p>+</p></button>

    <div id="add_absence" class="hide">
      <p id="close_form">X</p>
      <input class="start_absence" type="time" />
      <input class="end_absence" type="time" />
      <textarea class="reason" type="text"></textarea>
      <button class="submit_form">Envoyer</button>
    </div>

    <div class="loading hide">
      <p>Chargement de votre emploi du temps <br> <i> Cela peut prendre environs 1 minute</i></p>
    </div>

    <script src="javascripts/calendar.js" type="module"></script>

    <%- include('footer') %>
  </body>
</html>
