<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="javascripts/pwa.webmanifest" />
    <link rel="stylesheet" href="stylesheets/dashboard_admin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,200" />
    <title>dashboard admin</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="header">
      <span class="material-symbols-outlined logout" onclick="logout()">logout</span>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li id="absence">
          <p>Absences</p>
        </li>
        <li id="list_diff">
          <p>Liste de diffusion</p>
        </li>
        <li id="propositions">
          <p>Propositions</p>
        </li>
        <li id="remplacements">
          <p>Remplacements</p>
        </li>
      </ul>
    </div>
    <div class="container">
      <div id="container_absence"></div>
      <div id="container_list_diff">
        <h1>Liste de diffusion</h1>
      </div>
      <div id="container_propositions">
        <h1>Propositions</h1>
      </div>
      <div id="container_remplacements">
        <h1>Remplacements</h1>
      </div>
    </div>

  </body>
  <script src=""></script>
  <script src="javascripts/event.js"></script>
</html>
