<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/dashboard_admin.css" />
    <link rel="stylesheet" href="stylesheets/index.css" />
    <title>dashboard admin</title>
  </head>
  <body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li>
          <a
            href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg"
            target="_blank"
            >Professeurs absents</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/plavookac/" target="_blank"
            >Cours annulés</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/plavookac/" target="_blank"
            >Professeurs éligibles</a
          >
        </li>
      </ul>
    </div>
    <div id="center" class="main center"></div>

    <%- include('footer') %>
  </body>
</html>
