<footer>
    <nav class="nav">
        <a href="/calendar"
        ><img
                    src="/icons/calendar_month_FILL0_wght400_GRAD0_opsz24.svg"
                    alt="calendar"
            /></a>

        <a href="/"
        ><img src="/icons/home_FILL0_wght400_GRAD0_opsz24.svg" alt="home"
            /></a>

        <a href=""
        ><img src="/icons/send_FILL0_wght400_GRAD0_opsz24.svg" alt="send"
            /></a>
    </nav>
</footer>