
<footer>
  <hr />
  <div class="container_footer">

    <nav class="nav">
      <a href="/calendar"
        ><img
          src="assets/icons/calendar_month_FILL0_wght400_GRAD0_opsz24.svg"
          alt="calendar"
      /></a>

      <a href="/"
        ><img src="assets/icons/home_FILL0_wght400_GRAD0_opsz24.svg" alt="home"
      /></a>

      <a href="/remplacement"
        ><img src="assets/icons/keep_FILL0_wght400_GRAD0_opsz24.svg" alt="keep"
      />
      </a>
    </nav>
  </div>
</footer>
