<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="theme-color" content="#77CCD0"/>
      <link rel="manifest" href="javascripts/manifest.json" />
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="icon" id="icon" href="assets/icons/RDP_512x512.ico">

    <title>RDP</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <header>
      <a href="#0"
        ><img
          src="assets/icons/settings_FILL0_wght400_GRAD0_opsz24.svg"
          alt="settings"
      /></a>
      <a href="/logout"
        ><img
          src="assets/icons/logout_24dp_FILL0_wght400_GRAD0_opsz24.svg"
          alt="logout"
      /></a>
    </header>
    <hr />

    <!--====================================-->
    <!--      menu déroulant du filtre      -->
    <!--====================================-->

    <!-- Bouton pour basculer l'affichage des filtres -->
    <button id="toggleButton">Afficher les filtres</button>

    <div id ="filterContainer">
      <div class="dropdown" id="dateDropdown">
          <label for="dateSelect">Date:</label>
          <input type="date" id="dateSelect">
      </div>
  
      <div class="dropdown" id="classDropdown">
          <label for="classSelect">Classe:</label>
          <select id="classSelect">
              <option value="classeNull">Sélectionnez une classe</option>
          </select>
      </div>
  
      <div class="dropdown" id="subjectDropdown">
          <label for="subjectSelect">Matière:</label>
          <select id="subjectSelect">
              <option value="matiereNull">Sélectionnez une matière</option>
          </select>
      </div>
        
      <div class="result" id="selectedFilters">
      Sélection : 
      </div>
   </div>

    

    <div class="container"></div>
    <div id="boite_event"></div>
    
    <%- include('footer') %>

  </body>
  <!-- Fonction js qui affiche les propositions filtrés sur la page-->
  <script src="javascripts/offre_filtre.js" type="module"></script>

</html>
