<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#77CCD0"/>
    <link rel="manifest" href="javascripts/manifest.json" />
    <link rel="stylesheet" href="stylesheets/sign_up.css" />
    <link rel="icon" id="icon" href="assets/icons/RDP_512x512.ico">
    <title>RDP</title>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="container" id="form">
      <form action="">
        <h1>Inscription</h1>
        <input type="email" placeholder="Email" id="form_mail" />
        <input type="password" placeholder="Mot de passe" id="form_password" />
        <input class="button" type="submit" value="Inscription" />
      </form>

      <div class="connexion">
        <p>Vous avez déjà un compte ?</p>
        <a class="lien" href="/sign_in"> Connectez-vous !</a>
      </div>
      <div>
        <p class="error"></p>
      </div>
    </div>

    <script src="javascripts/sign_up.js"></script>
  </body>
</html>
