<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#11B4BD"/>
    <!--<link rel="manifest" href="javascripts/pwa.webmanifest" />-->
    <link rel="manifest" href="javascripts/manifest.json" />
    <link rel="stylesheet" href="stylesheets/sign_in.css" />
    <title>connexion</title>
    <script>
      window.addEventListener('load', () => {
        if("serviceWorker" in navigator){
          navigator.serviceWorker.register('javascripts/service_worker.js')
        }
      })
    </script>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="container" id="form">
      <form action="">
        <h1>Connexion</h1>
        <input type="email" placeholder="Email" id="form_mail" />
        <input type="password" placeholder="Mot de passe" id="form_password" />
        <input type="checkbox" id="admin">
        <p>Je suis un membre de l'administration</p>
        <input class="button" type="submit" value="Connexion" />
      </form>
      <div class="inscription">
        <p>Vous n'avez pas de compte ?</p>
        <a class="lien" href="/sign_up"> Inscrivez-vous !</a>
      </div>
      <div>
        <p class="error"></p>
      </div>
    </div>

    <script src="javascripts/sign_in.js"></script>
  </body>
</html>
