<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#77CCD0"/>
    <!--<link rel="manifest" href="javascripts/pwa.webmanifest" />-->
    <link rel="manifest" href="javascripts/manifest.json" />
    <link rel="stylesheet" href="stylesheets/valide.css" />
    <title>connexion</title>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="container">
      <p>
        Validation pour le compte : <br />
        <%= mail %>
      </p>
      <form action="" id="form">
        <h1>Validation</h1>
        <input type="text" placeholder="Code de validation" id="form_code" />
        <input class="button" type="submit" value="Inscription" />
      </form>
      <div class="inscription">
        <a href="/logout">Se deconnecter ou utiliser un autre compte</a>
      </div>
      <div>
        <p class="error"></p>
      </div>
    </div>

    <script src="javascripts/valide.js"></script>
  </body>
</html>
